In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## ML PROJECT

In [3]:
import seaborn as sns
%matplotlib inline

In [4]:
housing = pd.read_csv('housing.csv')

In [5]:
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

### Splitting
    to prevent data leakage

In [6]:
target = 'median_house_value'

In [22]:
y = housing[target]
X = housing.drop(target,axis=1)

In [23]:
X.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,NEAR BAY

In [24]:
y.head()

0    452600.0
1    358500.0
2    352100.0
3    341300.0
4    342200.0
Name: median_house_value, dtype: float64

In [32]:
def train_test_split(X,y, test_ratio=0.2,show_output=False,random_state=123):
    np.random.seed(random_state)
    size = x.shape[0]
    test_idx = int(size * test_ratio)
    train_idx = size - test_idx
    indexes = np.arange(size)
    np.random.shuffle(indexes)
    if show_output:
        print('Total: ',size)
        print('Train: ',train_idx)
        print("Test: ", test_idx)    
        
    train_X = X[:train_idx]
    test_X = X[train_idx:]
    if y is not None:
        train_y = y[:train_idx]
        test_y = y[train_idx:]
        return train_X,test_X, train_y, test_y
    
    
    return train_X, test_X

In [34]:
X_train, X_test, y_train,y_test = train_test_split(X,y,show_output=True,test_ratio=0.2)

Total:  20640
Train:  16512
Test:  4128

In [35]:
X_train.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,NEAR BAY

In [36]:
X_train.shape

(16512, 9)

In [37]:
X_test.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
16512,-121.22,37.72,34.0,2123.0,387.0,1310.0,368.0,2.6368,INLAND
16513,-121.22,37.81,17.0,2879.0,542.0,1802.0,530.0,3.6378,INLAND
16514,-121.22,37.80,28.0,2608.0,576.0,1719.0,554.0,2.1186,INLAND
16515,-121.22,37.80,37.0,1038.0,222.0,521.0,211.0,2.1250,INLAND
16516,-121.21,37.81,18.0,2404.0,498.0,1531.0,506.0,2.9950,INLAND

In [38]:
X_test.shape

(4128, 9)

In [42]:
np.random.seed(123)
#random state 123

In [49]:
index = np.arange(X.shape[0])


index[:10]

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [50]:
np.random.shuffle(index)

In [51]:
index[:10]

array([ 5500, 15577,  5731,  3343, 18085, 12518,  8754, 14376,  2169,
        2535])

In [ ]:
def train_test_split(X,y, test_ratio=0.2,show_output=False):
    size = x.shape[0]
    test_idx = int(size * test_ratio)
    train_idx = size - test_idx
    if show_output:
        print('Total: ',size)
        print('Train: ',train_idx)
        print("Test: ", test_idx)    
        
    train_X = X[:train_idx]
    test_X = X[train_idx:]
    if y is not None:
        train_y = y[:train_idx]
        test_y = y[train_idx:]
        return train_X,test_X, train_y, test_y
    
    
    return train_X, test_X